<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="lists.ctrl.js"></script>
    <script type="text/javascript" src="list.factory.js"></script>
    <script type="text/javascript" src="task.controller.js"></script>
    <script type="text/javascript" src="task.factory.js"></script>
    <script type="text/javascript" src="app.directive.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="row">
            <h1 class="app-name">Manage</h1>
        </div>
    </header>

    <section id="list-container" class="list-container" ng-controller="listsCtrl">
        <div class="row">
            <section class="list" ng-repeat="list in lists">
                <h1 ng-click="editList($index)" ng-show="!list.editList">{{list.listName}}</h1>
                <form ng-submit="saveList($index, newListName)">
                    <input type="text" ng-model="newListName" ng-show="list.editList">
                </form>

                <div id="task-section" ng-controller="taskCtrl">
                    <form ng-submit="addTask(list)">
                        <input type="text" ng-model="taskName">
                    </form>

                    <div class="task" ng-repeat="task in list.tasks">
                        <span class="task-name" ng-click="editTask($index, list)" ng-show="!task.editTask">{{task.taskName}}</span>
                        <form ng-submit="saveTask($index, newTaskName, list)">
                            <input edit-field="task.editTask" type="text" ng-show="task.editTask" ng-model="newTaskName">
                        </form>
                    </div>
                </div>

            </section>

            <section class="list">
                <form ng-submit="addList()">
                    <input type="text" ng-model="listName">
                </form>
            </section>

        </div>
    </section>
</body>
</html>